@import 'variables';
@import 'tile';
@import 'field';
@import 'player';

main {
  margin: $board-margin;
  width: $board-wrapper-size;
  height: $board-wrapper-size;
}

.board {
  width: $board-size;
  height: $board-size;
}
