@import 'variables';
@import 'tile';
@import 'field';

main {
  margin: 0 auto;
  width: $board-wrapper-size;
  height: $board-wrapper-size;
}

.board {
  width: $board-size;
  height: $board-size;
}
