@import 'variables';

.tile {
  float: left;
  margin-right: $tile3-margin;
  margin-bottom: $tile3-margin;
  border-radius: $field-radius;
  box-shadow: $tile-shadow, $tile-shadow;
  width: $tile3-size;
  height: $tile3-size;

  &.rotate90 {
    transform: rotate(90deg);
  }

  &.rotate180 {
    transform: rotate(180deg);
  }

  &.rotate270 {
    transform: rotate(270deg);
  }

  &.type1 {
    .field:nth-child(2) .borders {
      margin-left: $border-margin;
      border-right-width: $border-width;
      border-bottom-width: $border-width;
      border-top-right-radius: $field-radius;
      border-bottom-right-radius: $field-radius;
    }
  }

  &.type2 {
    .field:nth-child(2) .borders {
      margin-left: $border-margin;
      border-top-width: $border-width;
      border-left-width: $border-width;
      border-top-left-radius: $field-radius;
      border-top-right-radius: $field-radius;
    }
  }

  &.type3 {
    .field:nth-child(2) .borders {
      margin-left: $border-margin;
      border-bottom-width: $border-width;
      border-left-width: $border-width;
      border-bottom-left-radius: $field-radius;
    }
  }

  &.type4 {
    .field:nth-child(2) .borders {
      margin-left: $border-margin;
      border-right-width: $border-width;
      border-top-right-radius: $field-radius;
    }
  }

  &.type5 {
    .field:nth-child(2),
    .field:nth-child(4) {
      .borders {
        margin-left: $border-margin;
        border-right-width: $border-width;
      }
    }

    .field:nth-child(2) .borders {
      border-top-right-radius: $field-radius;
    }

    .field:nth-child(4) .borders {
      margin-top: $border-margin;
      border-bottom-right-radius: $field-radius;
    }
  }

  &.type6 {
    .field:nth-child(2),
    .field:nth-child(4) {
      .borders {
        margin-left: $border-margin;
        border-right-width: $border-width;
      }
    }

    .field:nth-child(2) .borders {
      border-bottom-width: $border-width;
      border-top-right-radius: $field-radius;
    }

    .field:nth-child(4) .borders {
      margin-top: $border-margin;
      border-bottom-right-radius: $field-radius;
    }
  }

  &.type7 {
    .field:nth-child(2) .borders {
      margin-left: $border-margin;
      border-bottom-width: $border-width;
      border-left-width: $border-width;
      border-bottom-left-radius: $field-radius;
      width: $border-size - $border-ztile-sub-size;
    }

    .field:nth-child(4) .borders {
      margin-top: $border-margin - $border-ztile-add-size;
      margin-left: $border-margin;
      border-right-width: $border-width;
      border-top-right-radius: $field-radius;
      border-bottom-right-radius: $field-radius;
      height: $border-size + $border-ztile-add-size;
    }
  }
}
