// Board
$board-wrapper-size: 800px;
$board-margin: 0 auto;
$board-size: 100%;
$board-color: #777;

// Tile
$tile3-size: $board-size / 3.15;
$tile3-margin: 5px;
$tile-color: #bdc0c2;
$tile-shadow: 0 1px 6px 0 rgba(0, 0, 0, .3);

// Filed
$field-size: 100% / 2.05;
$field-margin: 0;
$field-color: #e8e8e8;
$field-radius: 16px;
$field-border-width: 2.5px;

// Borders
$border-color: #069fd6;
$border-width: 25px;
$border-size: 110%;
$border-z-index: 2;
$border-margin: (100% - $border-size);
$border-ztile-add-size: 3.5%;
$border-ztile-sub-size: 15%;

// Player
$player-z-index: 10;
$player-size: 56%;
$player-white-color: #dbb99c;
$player-black-color: #635752;
$player-hover-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
